.alert-message {
  padding: 1rem;
  background-color: var(--background-secondary);

  border-radius: 0.5rem;

  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 1.25rem;

  font: var(--r-flex-label-16);
  color: var(--content-brand);

  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #d586e0, #91a1fa);
    width: 100%;
    height: 100%;

    top: 95%;
    left: 0;

    animation: Loading 3s ease forwards;
  }
}

#close-icon {
  position: absolute;
  right: 1.5rem;
}

@keyframes Loading {
  to {
    left: -100%;
  }
}
