aside.drawing-screen {
  & .intro-draw {
    gap: 0.25rem;

    & p {
      font: var(--r-flex-14);
    }
  }
}

form {
  /* inputs de formulario */

  & .input-wrapper {
    justify-items: center;
    align-items: center;
    gap: 0.5rem;

    & label {
      font: var(--r-flex-label-16);
      color: var(--content-secondary);
      text-transform: uppercase;
    }

    /* Muda a cord da label quando há foco e hover*/

    &:is(:hover, :focus-within) > label {
      color: var(--content-brand);
    }

    & input {
      /* caixa do input */
      width: 86px;
      height: 56px;

      background-color: var(--background-secondary);
      border-radius: 0.5rem;
      border: none;
      outline: none;

      /* texto do input */
      color: var(--content-primary);
      font: var(--sora-32);
      padding: 0.25rem 0.5rem;

      transition: 600ms ease;

      /* mudança de cor de fundo quando há foco e quando detecta o cursor */

      &:focus-within {
        background-color: var(--background-tertiary);
      }

      &:hover {
        background-color: var(--background-tertiary);
      }
    }

    /* Muda a cor do card de input quando há foco */
    &:has(:focus-within) .border-gradient {
      /* centraliza a a borda na caixa do input */
      display: flex;
      align-items: center;
      justify-content: center;

      /* define o tamanho da caixa e arredondamento da borda*/
      width: 90px; /*equivale à 4px de borda*/
      height: 60px; /*equivale à 4px de borda*/
      border-radius: 0.5rem;

      /* define a cor da caixa*/
      background: linear-gradient(
        to right,
        #77c0af 0%,
        #d1dc97 14.84%,
        #e9a9b3 32.15%,
        #d586e0 65.79%,
        #91a1fa 84.58%
      );
    }

    /* Muda a cor do card de input quando detectar o cursor */
    .border-gradient:hover {
      /* centraliza a a borda na caixa do input */
      display: flex;
      align-items: center;
      justify-content: center;

      /* define o tamanho da caixa e arredondamento da borda*/
      width: 88px; /*equivale à 2px de borda*/
      height: 58px; /*equivale à 2px de borda*/
      border-radius: 0.5rem;

      /* define a cor da caixa*/
      background: linear-gradient(
        to right,
        #77c0af 0%,
        #d1dc97 14.84%,
        #e9a9b3 32.15%,
        #d586e0 65.79%,
        #91a1fa 84.58%
      );
    }

    .border-gradient {
      outline: linear-gradient(
        to right,
        #77c0af 0%,
        #d1dc97 14.84%,
        #e9a9b3 32.15%,
        #d586e0 65.79%,
        #91a1fa 84.58%
      );
    }
  }

  /* botão deslizante */

  & .toggle-switch label {
    font: var(--r-flex-14);
    color: var(--content-primary);

    margin-left: 2.375rem; /* 38 px */
  }

  & .toggle-switch {
    width: fit-content;
    margin-top: 1.25rem;

    position: relative;

    & #checkbox {
      position: absolute;
      inset: 0;
      appearance: none;
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 20px;
      background-color: var(--content-tertiary);
      border-radius: 1rem;
    }

    &::after {
      display: none;
      transition: 400ms ease;
    }

    & .slider {
      position: absolute;
      background-color: var(--content-primary);
      border-radius: 100%;

      width: 0.875rem;
      height: 0.875rem;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      pointer-events: none;

      transition: 400ms ease;
    }

    & #checkbox:checked + .slider {
      transform: translateY(-50%) translateX(10px);
    }
    & #checkbox:checked,
    &::after {
      content: "";
      background: linear-gradient(to right, #d586e0, #91a1fa);

      width: 30px;
      height: 20px;
      border-radius: 1rem;
    }
  }
}

/* container de botão */

& .button-draw {
  height: 3.5rem; /* 56 px */
  padding: 1.6px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  overflow: hidden;

  /* arrendondando as bordas */

  &,
  button {
    border-radius: 0.5rem;
  }

  /* estilo do botão  */

  & button {
    width: 100%;
    height: 100%;
    background: var(--background-tertiary);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    color: var(--content-primary);
    font: var(--r-flex-16);
    font-weight: 700;

    &:hover {
      background: var(--background-secondary);

      & .arrow-btn {
        animation: translate-arrow 2s linear infinite;
      }
    }
  }
}

/* animação  de gradient no hover */

& .button-draw:hover {
  &::before {
    content: "";
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: -1;

    background: linear-gradient(
      to right,
      #77c0af 0%,
      #d1dc97 14.84%,
      #e9a9b3 32.15%,
      #d586e0 65.79%,
      #91a1fa 84.58%
    );
    border-radius: inherit;

    animation: gradient-rotate 600ms linear infinite;
  }
}

/* animação de seta do botão */

@keyframes translate-arrow {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

/* animação de rotação do gradient */

@keyframes gradient-rotate {
  to {
    transform: rotate(360deg);
  }
}
