*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;

  --content-primary: #fff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  --sora-font: "Sora", sans-serif;
  --roboto-mono: "Roboto mono", sans-serif;
  --roboto-flex: "Roboto flex", sans-serif;

  --sora-72: 800 4.5rem/130% var(--sora-font); /* 72px */
  --sora-40: 800 2.5rem/130% var(--sora-font); /* 40px */
  --sora-32: 700 2.5rem/130% var(--sora-font); /* 32px */

  --r-mono-16: 700 1rem/150% var(--roboto-mono); /* 16px */

  --r-flex-16: 500 1rem/150% var(--roboto-flex); /* 16px */
  --r-flex-14: 500 0.875rem/150% var(--roboto-flex); /* 14px */
  --r-flex-12: 500 0.75rem/150% var(--roboto-flex); /* 12px */
  --r-flex-label-20: 700 1.25rem/150% var(--roboto-flex); /* 20px */
  --r-flex-label-16: 700 1rem/150% var(--roboto-flex); /* 16px */
}

body {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 100%)
      center / cover no-repeat,
    url(/assets/pattern.svg),
    center/cover no-repeat;
  background-color: var(--background-primary);

  min-height: 782px;
}

h1,
h2 {
  color: var(--content-primary);
  text-transform: uppercase;
}

h1 {
  font: var(--sora-72);
}

h2 {
  font: var(--r-flex-label-20);
}

p {
  font: var(--r-flex-12);
  color: var(--content-secondary);
}

fieldset {
  border: none;
}

button {
  all: unset;
  text-transform: uppercase;
  cursor: pointer;
}

@media (width <= 62.5rem) {
  h1 {
    font: var(--sora-40);
  }
}
