*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;

  --content-primary: #fff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  --sora-font: "Sora", sans-serif;
  --roboto-mono: "Roboto mono", sans-serif;
  --roboto-flex: "Roboto flex", sans-serif;

  --sora-72: 800 4.5rem/130% var(--sora-font); /* 72px */
  --sora-40: 800 2.5rem/130% var(--sora-font); /* 40px */
  --sora-32: 800 2.5rem/130% var(--sora-font); /* 32px */

  --r-mono-16: 700 1rem/150% var(--roboto-mono); /* 16px */

  --r-flex-16: 500 1rem/150% var(--roboto-flex); /* 16px */
  --r-flex-14: 500 0.875rem/150% var(--roboto-flex); /* 14px */
  --r-flex-12: 500 0.75rem/150% var(--roboto-flex); /* 12px */
  --r-flex-label-20: 700 1.25rem/150% var(--roboto-flex); /* 20px */
  --r-flex-label-16: 700 1rem/150% var(--roboto-flex); /* 16px */

  --gradient-border: linear-gradient(
    #77c0af 0%,
    #d1dc97 14.84%,
    #e9a9b3 32.15%,
    #d586e0 65.79%,
    #91a1fa 84.58%
  );

  --gradient-toggle: linear-gradient(#d586e0 0%, #91a1fa 98.93%);

  --gradient-content: linear-gradient(#c7c9cc 0%, #3d3d3d 100%);
}

body {
  background:
    linear-gradient(to bottom, #000 60%, transparent) center / cover no-repeat,
    url(/assets/pattern.svg),
    center/cover no-repeat;
  background-color: var(--background-primary);
}

h1,
h2 {
  color: var(--content-primary);
  text-transform: uppercase;
}

h1 {
  font: var(--sora-72);
}

h2 {
  font: var(--r-flex-label-20);
}

p {
  font: var(--r-flex-14);
  color: var(--content-secondary);
}

fieldset {
  border: none;
}
