body {
  width: min(1366px, 100% - 134px * 2);
  margin-inline: auto;
}

body header {
  margin-top: 4.75rem;
}

.container {
  margin-top: 89px;
  gap: 108px;

  & .hero-container {
    gap: 2.375rem;
  }

  & .draw-rules {
    width: 386px;

    & .rules span {
      font: var(--r-flex-14);
      color: var(--content-brand);
    }

    & .rules:first-child {
      padding-bottom: 2.25rem;
    }
  }
}

@media (width <= 62.5rem) {
  body {
    width: min(390px, 100% - 35px * 2);
    margin-inline: auto;
    margin-bottom: 44px;
  }

  body header {
    margin-bottom: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;

    margin-top: 46px;
    gap: 42px;

    & .intro-draw {
    }
  }

  footer {
    & .draw-rules {
      margin-top: 80px;

      & .rules span {
        font: var(--r-flex-14);
        color: var(--content-brand);
      }

      & .rules:first-child {
        padding-bottom: 2.25rem;
      }
    }
  }
}
