/* container e header */
.result-screen {
  & .title-result {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p {
      font: var(--r-mono-16);
      text-transform: uppercase;
    }
  }
}

/* Números do sorteio */

.number-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;

  & > div.number-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & .box-number {
      width: 6.25rem;
      height: 6.25rem;
      margin-block: 0.5rem;

      background-color: var(--content-brand);
      border-radius: 1.75rem;
    }

    & output {
      position: absolute;
      font: 700 3rem/150% var(--roboto-mono);
      color: var(--content-inverse);

      top: 50%;
      transform: translateY(-50%);
    }

    /* animação de caixa de número */

    & .box-number {
      scale: 0;
      transition: scale 400ms ease;

      animation:
        entryScaleBox 400ms ease both,
        rotateBoxNumber 800ms ease 1s forwards,
        ApperBoxNumber 400ms ease 2s forwards,
        endScaleBox 400ms ease 2s forwards;
    }

    /* animação de número */
    & output {
      opacity: 0;
      transition: opacity 400ms ease;

      animation:
        ApperNumber 400ms ease 600ms forwards,
        entryScaleNumber 400ms ease both,
        colorInverse 400ms ease 2s forwards,
        endScaleNumber 400ms ease 2s forwards;
    }
  }
}

/* botão de sortear novamente */

.button-new-draw {
  height: 3.5rem; /* 56 px */
  padding: 1.6px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  overflow: hidden;

  opacity: 0;
  transition: opacity 400ms ease;

  /* arrendondando as bordas */

  &,
  button {
    border-radius: 0.5rem;
  }

  /* estilo do botão  */

  & button {
    width: 100%;
    height: 100%;
    background: var(--background-tertiary);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    color: var(--content-primary);
    font: var(--r-flex-16);
    font-weight: 700;

    position: relative;

    & img[src="/assets/play.svg"] {
      position: absolute;
      right: 9rem;
    }

    &:hover {
      background: var(--background-secondary);

      & img[src="/assets/circle.svg"] {
        animation: rotateArrow 1s ease infinite;
      }
    }
  }
}

/* animação  de gradient no hover */

.button-new-draw:hover {
  &::before {
    content: "";
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: -1;

    background: linear-gradient(
      to right,
      #77c0af 0%,
      #d1dc97 14.84%,
      #e9a9b3 32.15%,
      #d586e0 65.79%,
      #91a1fa 84.58%
    );
    border-radius: inherit;

    animation: gradient-rotate 600ms linear infinite;
  }
}

@media (width <= 62.5rem) {
  .result-screen {
    width: 100%;
  }

  .button-new-draw {
    position: relative;
    & button {
      & img[src="/assets/play.svg"] {
        position: absolute;
        right: 3.957rem;
      }
    }
  }
}

@media (width = 80rem) {
  .result-screen {
    width: 100%;
  }

  .button-new-draw {
    position: relative;
    & button {
      & img[src="/assets/play.svg"] {
        position: absolute;
        right: 6.3rem;
      }
    }
  }
}

/* ### Animações de tela ###*/

/* animação de rotação do icone do botão */

@keyframes rotateArrow {
  to {
    transform: rotate(360deg);
  }
}

/* animação de caixa do número sorteado */

@keyframes ApperBoxNumber {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes entryScaleBox {
  100% {
    scale: 1.1;
  }
}

@keyframes endScaleBox {
  100% {
    scale: 1;
  }
}

@keyframes rotateBoxNumber {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(-18deg);
  }

  20% {
    transform: rotate(-36deg);
  }

  30% {
    transform: rotate(-54deg);
  }

  40% {
    transform: rotate(-72deg);
  }

  50% {
    transform: rotate(-90deg);
  }

  60% {
    transform: rotate(-108deg);
  }

  70% {
    transform: rotate(-126deg);
  }

  80% {
    transform: rotate(-144deg);
  }

  90% {
    transform: rotate(-162deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

/* animação de  número sorteado */

@keyframes colorInverse {
  to {
    color: var(--content-brand);
  }
}

@keyframes entryScaleNumber {
  100% {
    font: 700 4rem/150% var(--roboto-mono);
  }
}

@keyframes endScaleNumber {
  100% {
    font: 700 3rem/150% var(--roboto-mono);
  }
}

@keyframes ApperNumber {
  to {
    opacity: 1;
  }
}
