.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap-40 {
  gap: 2.5rem;
}

.gap-12 {
  gap: 0.75rem;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

.invisible {
  display: none;
}

/* 1000px */
@media (width <= 62.5rem) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}
